<div class="default-page-wrap">
  <div class="title">IntraVision</div>
  <div class="sub-title">Тестовое задание</div>
  <a target="_blank" href="/assets/2019_12.zip" download>техническое задание</a>
  <a target="_blank" href="https://github.com/denis23x/Angular-8">github.com/denis23x/Angular-8</a>
  <div>Readme</div>
  <ul>
    <li>Реализованы все задачи поставленные в ТЗ</li>
    <li>Функции создания и редактирования заявок сделаны отдельным роутом</li>
    <li>Добавлено немного валидации полей</li>
    <li>Добавлен динамический заголовок страниц</li>
    <li>Добавлены pipes для форматирования чисел, обрезки текста, вывод хтмл и поиска</li>
    <li>Добавлен поиск по заявкам</li>
    <li>Добавлены компоненты modal и snackbar для уведомления пользователей</li>
    <li>Добавлен emitter сервис для взаимодействия компонентов</li>
    <li>Добавлены шрифты google fonts</li>
    <li>Использован sass, реюзы некоторых классов, адаптивность не делал</li>
  </ul>
</div>
