<div class="create-wrap">
  <div class="create-heading">
    <div>Новая заявка</div>
    <img (click)="router.navigate(['/applications'])" src="../../../assets/icons-svg/create-close.svg">
  </div>
  <form #createForm="ngForm" class="create-content">
    <div class="default-textarea">
      <label for="name">Название</label>
      <textarea
        name="name"
        [(ngModel)]="newTask.name"
        minlength="4"
        #name="ngModel"
        required
        id="name"
        cols="30"
        rows="5">
      </textarea>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
        <span>Заполните поле название</span>
        <span *ngIf="name.errors.minlength">Минимальное кол-во символов 4</span>
      </div>
    </div>
    <div class="default-textarea">
      <label for="description">Описание</label>
      <textarea
        name="description"
        [(ngModel)]="newTask.description"
        #description="ngModel"
        minlength="4"
        required
        id="description"
        cols="30"
        rows="10">
      </textarea>
      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error">
        <span>Заполните поле описание</span>
        <span *ngIf="description.errors.minlength">Минимальное кол-во символов 4</span>
      </div>
    </div>
    <div class="create-button">
      <app-button
        label="Сохранить"
        (clicked)="createTask(); createForm.reset()"
        [disabled]="name.invalid || description.invalid">
      </app-button>
    </div>
  </form>
</div>
