@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.default-textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 30px 0;
  width: 100%;
  max-width: 620px;
  label {
    font-size: 14px;
    color: #9f9ea7;
    margin: 0 0 10px 0;
  }
  textarea {
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 28px);
    resize: vertical;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    padding: 14px;
    outline: none;
  }
  div.error {
    display: flex;
    flex-direction: column;
    color: rgb(253, 94, 83);
    margin: 10px;
    font-size: 14px;
  }
}
